body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    border: red solid 1px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.searcher-containner {
    display: flex;
    align-items: center;
}

.searchbar {
    height: 32px;
    width: 500px;
}

.search-button {
    height: 38px;
    width: 70px;
}

.main-containner{
    border: blue solid 1px;
    display: grid;
    height: 100%;
    grid-template-columns: 70% 30%;
    padding: 20px 100px;
}

.left-container{
    border: 1px solid red;
    text-align: center;
    display: inherit;
    grid-template-rows: 600px 85px 250px 200px;
    padding: 0px 20px;    
}

.video-list{
    background: green;
    height: 100%;
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}

.video {
    border-bottom: lightgray solid 1px;
    width: 100%;
}

.video-info {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray solid 1px;
}

.video-info-buttons {
    display: inherit;
    align-items: flex-end;
}

.video-description {
    display: flex;
    border-bottom: lightgray solid 1px;
}

.user {
    width: 10%;
}

.text1 {
    width: 80%;
}

.subscribe-button {
    width: 10%;
}
.comments {
    background-color: mediumseagreen;
}

.button-tools {
    height: 36px;
}

#like, #dislike, #video-menu {
    width: 36px;
}

#share, #save {
    width: 92px;
}

.button-tools{
    background-color: transparent;
    border-color: transparent;
}