body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    border: red solid 1px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.searcher-containner {
    display: flex;
    align-items: center;
}

.searchbar {
    height: 32px;
    width: 500px;
}

.search-button {
    height: 38px;
    width: 70px;
}

.main-containner{
    border: blue solid 1px;
    display: grid;
    height: 100%;
    grid-template-columns: 70% 30%;
    padding: 20px 100px;
    background-color: #f9f9f9;
}

.left-container{
    border: 1px solid red;
    text-align: center;
    display: inherit;
    grid-template-rows: 600px 85px 280px 200px;
    padding: 0px 20px;    
}

.video-list{
    background: green;
    height: 100%;
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}

.video {
    border-bottom: lightgray solid 1px;
    width: 100%;
}

.video-info {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray solid 1px;
}

.video-info-buttons {
    display: inherit;
    align-items: flex-end;
}

#views {
    text-align: start;
}

.video-info-buttons {
    display: flex;
    align-self: flex-end;
    border: red solid 1px;
    height: 40px;
    align-items: center;
}

.video-info-buttons a {
    text-decoration: none;
    color: #666a6e;
    padding: 0 20px;
}

#like, #dislike, #video-menu {
    width: 36px;
    height: 36px;
}

#share, #save {
    width: 92px;
    height: 36px;
}

.button-tools{
    background-color: transparent;
    border-color: transparent;
}

.video-description {
    border: lawngreen solid 2px;
    display: flex;
    border-bottom: lightgray solid 1px;
    margin-top: 20px;
}

.user {
    width: 5%;
}

.description {
    width: 85%;
    text-align: start;
}

.description h4 {  
    margin-bottom: 0px;

}

#suscribers {
    font-size: 0.9rem;
    color: #606060;
    margin-top: 0px;
}
#description-text {
    font-size: 14px;
}

.subscribe-button {
    width: 10%;
}

#subscribe {
    background-color: #cc0203;
    color: white;
    font-weight: bold;
    border-color: transparent;
    height: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 3px;
}

#show-button {
    background-color: #f9f9f9;
    border: none;
    color: #666a6e;
    font-weight: bold;
}

.comments {
    padding: 35px 0;
}

.comments a img {
    margin-right: 12px;
}

.comments a {
    color: black;
    text-decoration: none;
}

.button-tools {
    height: 36px;
}